<html>
<head>
    <title>Hello</title>
</head>
<body>

<form method=POST enctype=multipart/form-data>
  <select name="year">    
    <option value="2018">2018</option>
	<option value="2017">2017</option>
	<option value="2016">2016</option>    
  </select>
  <br>
  <select name="weather_station">
	<option value="140140">Slowenien - Ljubljana - 140140</option>
    <option value="093850">Deutschland - Berlin/Schonefeld - 093850</option>    
    <option value="030350">UK - Barra Island - 030350</option>
  </select>
  <br>
    <input type=file name=file>
    <input type="submit">
</form>
</body>
</html>